:root {
    --card-width: 450px;
    --card-height: auto;

    /* övriga variabler*/
    --background-image: url("/../assets/bg.jpg");
    --primary-bg-color: #05090a;
    --secondary-bg-color: #272b3a;
    --nav-color: linear-gradient(15deg, rgba(5,9,10,1) 0%, rgba(17,55,43,1) 49%, rgba(14,98,68,1) 68%, rgba(2,11,8,1) 90%);
    --green-gradient: linear-gradient(15deg, rgba(57,215,130,1) 0%, rgba(17,113,79,1) 68%, rgba(11,74,53,1) 90%);
    --primary-text-color: #ececec;
    --secondary-text-color: #c4c4c4;
    --active-page-color: #ffffff;
    --header-width: 15vw;
    --header-height: 10vh;
    --mobile-nav-height: var(--header-height);
    --mobile-nav-width: 50%;
    --transition-duration: 0.5s;
    --font-family: "Righteous", sans-serif;
    --base-font-size: 1.1rem;
    --font-size: 1.1rem;

    --base-image-size: 300px;
    --image-size: 300px;
}

/* default selectors här */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
p {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: var(--font-size); 

}

li {
    list-style: none;
    color: var(--secondary-text-color);
}

main {
    flex: 1;
    margin-left: var(--header-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    scroll-behavior: smooth;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-bg-color) var(--secondary-bg-color); 
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

footer {
    margin-left: var(--header-width);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--header-width));
}

label, input,textarea,button{
    all: unset;
    width: 100%;
    border-radius: 10px;
}

input,textarea{
    background-color: rgba(32, 32, 32, 0.2);
}


button {
    background: var(--green-gradient);
    text-align: center;
    width: 150px;
    height: auto;
    padding: .3rem;
    cursor: pointer;

}


#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--header-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.header::after, .sidebar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--nav-color);
    opacity: .75;
    filter: blur(.6rem);
    z-index: -1;

}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    width: 100%;
}

.header-logo {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: transform 1s ease;
}

.image-wrapper {
    object-fit: contain;
    width: var(--image-size);
    height: var(--image-size);
    overflow: hidden;
    border-radius: 50%;

}

.image-wrapper.sm {
    width: calc(var(--image-size) * 0.95);
    height: calc(var(--image-size) * 0.95);
}


.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 70%;
}

.loading-screen.active {
    transform: translateX(100%);
}

.loading-screen img {
    width: 300px;
}
.menu-toggle {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: color var(--transition-duration);
}

.active-page, .highlight {
    background: var(--green-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.card {
    width: var(--card-width);
    height: var(--card-height);
    text-align: center;
    background-color: rgba(39, 43, 58, 0.2);
    display: flex;
    justify-content: center;
    padding: 2vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    user-select: none;

}



.card.sm {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.card-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.card.contact {
    height: 450px;
}


.card.project {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    transition: transform .2s ease;
}

.card.techstack {
    width: 450px;
}


.card.project:hover {
    transform: translateY(-2%);
}

.card.project i {
    font-size: 36px;
}

.card.project a {
    text-decoration: none;
    color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0 2vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-content.text-left {
    text-align: left;
}


.headline2.snap-left {
    text-align: left;
}




.card-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-start;
}


.vertical {
    writing-mode: vertical-lr;
    word-break: none;
    font-size: 2rem;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5vh;
}

.socials i {
    transition: color .3s ease;
    color: white;
}

.nav-links a:hover, .socials i:hover {
    color: var(--secondary-text-color);
}



.contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1vh;
}
.card-row {
    position: relative;
    width: 100%;

}

.comptence-bar {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    z-index: -1;
}

.comptence-bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 100%;
    background-color: var(--secondary-text-color);
}
.comptence-bar.wd-90::after {
    width: 90%;
}
.comptence-bar.wd-80::after {
    width: 80%;
}

.comptence-bar.wd-70::after {
    width: 70%;
}

.comptence-bar.wd-60::after {
    width: 60%;
}

.comptence-bar.wd-50::after {
    width: 50%;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.projects-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    flex-wrap: wrap;
    align-items: center;
}

#projects-content {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
    padding: 5vh;
    overflow-y: auto;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2vh 0;
}



.bottom-padding {
    padding-bottom: 15vh;
}

.no-overflow {
    overflow: hidden;
}

.techstack-row {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(32, 32, 32, 0.2);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.techstack-row img {
    height: 26px;
    transition: transform .3s ease;
}

.techstack-row img:hover {
    transform: scale(1.2);
}

.icon-github {
    fill: white;
}


.hero-content {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.headline2 {
    color: var(--secondary-text-color);
    position: relative;
}

.typewriter {
    font-weight: bolder;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sidebar::after {
    transform: rotateX(180deg);
}


@media screen and (max-width: 1024px) {
    :root {
        --image-size: calc(var(--base-image-size) * 0.8); 
        --font-size: calc(var(--base-font-size) * 0.95); 
    }
    .vertical {
        display: none;
    }


}


@media screen and (max-width: 768px) {
    :root {
        --image-size: calc(var(--base-image-size) * 0.6); 
        --font-size: calc(var(--base-font-size) * 0.85); 
    }

    .header {
        flex-direction: row;
        width: 100%;
        height: var(--mobile-nav-height);
        justify-content: space-between;
    }

    .header-content {
        justify-content: space-between;
        padding: 0 2vh;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar {
        width: var(--mobile-nav-width);
        height: calc(100vh - var(--mobile-nav-height));
        position: fixed;
        top: var(--mobile-nav-height);
        transform: translateX(-100%);
        transition: transform .3s ease;
    }


    footer {
        margin-left: 0;
        width: 100%;        
    }


    .card-content {
        padding: 0;
    }


    .sidebar.active {
        display: flex;
        transform:  translateX(0);
    }

    main {
        margin-left: 0;
        margin-top: var(--mobile-nav-height);
    }


    .card {
        width: 250px;
    }

}

.bold {
    font-weight: bold;
}

