#repo-list {
    display: flex;
    flex-direction: row; /* Row direction */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items to the top */
    gap: 10px; /* Space between cards */
    width: 80%; /* Full width of the container */
    padding-top: 100px; /* Adjust for the space under the fixed header */
}

.repo {
    width: calc(20% - 10px); /* 5 items per row with 10px gap */
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Bottom margin for spacing */
}

.repo:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.repo i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}

.repo a {
    font-size: 24px;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.repo a:hover {
    color: #acacac;
}

.repo p {
    font-size: 16px;
    color: var(--primary-text-color);
    text-align: center;
    margin: 5px 0;
}

.repo i.devicon-github-original {
    color: #333;
}

.repo i.devicon-javascript-plain {
    color: #f7df1e;
}

.repo i.devicon-python-plain {
    color: #306998;
}

.repo i.devicon-java-plain {
    color: #007396;
}

.repo i.devicon-html5-plain {
    color: #e34f26;
}

.repo i.devicon-css3-plain {
    color: #1572b6;
}
@media (max-width: 1024px) {
    .repo {
        width: calc(25% - 10px);
        font-size: 16px; /* Adjust font size here */
    }

    .repo i {
        font-size: 20px; 
    }
    .repo a {
        font-size: 16px; 
    }
    .repo p{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .repo {
        width: calc(33.33% - 10px); 
        font-size: 14px; /* 20% smaller than 16px */
    }
}

@media (max-width: 480px) {
    .repo {
        width: calc(50% - 10px); 
        font-size: 12px; /* 20% smaller than 14px */
    }
}

@media (max-width: 320px) {
    .repo {
        width: 100%;
        font-size: 10px; /* 20% smaller than 12px */
    }
}
