.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    padding-top: 20vh;
    z-index: 3;
    flex-direction: column;
    text-align: left;
    font-size: 36px;
    animation-delay: 4s;
}

.hero-btn {
    position: relative;
    width: 25%;
    z-index: 3;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 200% 100%;
    background-position: left center;
    border: none;
    border-radius: 5vh;
    height: 4vh;
    opacity: 0;
    transform: translateY(50px); 
    transition: background-position 0.5s ease;
    animation: moveUp 2s forwards;
    animation-delay: 11s;
}

.hero-btn:hover {
    background-position: right center;
    cursor: pointer;
}


.hero-title-primary {
    color: var(--secondary-text-color);
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeInHeroPrimaryTitle 1.5s forwards;
    animation-delay: 5s;
}

.hero-title-secondary {
    opacity: 0; 
    animation: fadeInHeroSecondaryTitle 1.5s forwards;
    animation-delay: 7s;
}

.hero-text {
    width: 100%;
    position: relative;
    opacity: 0;
    animation: fadeInHeroText 3s forwards;
    animation-delay: 8s;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid blue;
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
}

.container1, .container2 {
    position: fixed;
    opacity: 0;
    animation: fadeInCodeSnippets 2s forwards;
    animation-delay: 3s;
}

.container1 {
    top: 10%;
    left: 20%;
    transform: rotate(-10deg);
}

.container2 {
    bottom: 10%;
    right: 10%;
    transform: rotate(-10deg);
}

.code-snippet {
    font-size: 43px;
}

.image-wrapper {
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    overflow: hidden;
    animation: fadeInImage 2s forwards, pulseImage 10s infinite;
    animation-delay: 2s; 
}

@keyframes pulseImage {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04); /* Slightly scale up */
    }
    100% {
        transform: scale(1); /* Return to original size */
    }
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-color: var(--primary-bg-color);
    opacity: 0.5;
    z-index: 1;
}

@keyframes fadeInHeroPrimaryTitle {
    from {
        transform: translateY(50px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

@keyframes fadeInHeroSecondaryTitle {
    to {
        opacity: 1;
    }
}

@keyframes fadeInHeroText {
    to {
        opacity: 1;
    }
}

@keyframes fadeInHeroText {
    to {
        opacity: 1;
    }
}

@keyframes fadeInImage {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(.6rem);
    }
}

@keyframes fadeInCodeSnippets {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(255, 255, 255);
    }
}

@keyframes moveUp {
    from {
        transform: translateY(50px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}